[Unit]
Description=Stream service
After=multi-user.target

[Service]
ExecStart=/home/pi/bin/streams.sh
Restart=always
RestartSec=15s

[Install]
WantedBy=multi-user.target
